
body{
  background:#0f0f0f;
  color:white;
  font-family: Arial;
  margin:0;
  padding:0;
}
.card{
  background:rgba(255,255,255,0.04);
  padding:25px;
  margin:40px;
  border-radius:20px;
  border:1px solid rgba(212,175,55,0.2);
}
.gold{
  color:#d4af37;
}
button{
  background:linear-gradient(45deg,#d4af37,#b8860b);
  border:none;
  padding:14px;
  border-radius:12px;
  width:100%;
  font-weight:bold;
  margin-top:10px;
}
